.row{
    margin-left: 500px !important;
    margin-top: 30px;
}
.head{
    margin-left: 100px;
    color: rgb(12, 4, 255);
}
#error1{
    color: red;
}
#error2{
    color: red;
}
#error3{
    color: red;
}
#error4{
    color: red;
}
#error5{
    color: red;
}
#sub{
    margin-left: 100px;
}
#conpass{
    width: 600px !important;
}
body{
    background-color: bisque;
}